* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Pretendard';
    font-size: 18px;
    color: #333;
    overflow-x: hidden;
}

/* ★★★ header wrap ★★★ */
.header_wrap {
    background-color: #fff;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 5px 8px #0000002c;
}

.header {
    box-sizing: border-box;
    width: 1320px;
    height: 90px;
    margin: 0px auto;
    padding-top: 20px;
    justify-content: space-between;
    display: flex;

}

.gnb {
    display: flex;
    gap: 110px;
    position: relative;
}

.gnb>li {

    position: relative;
    /* submenu 기준 */
    text-align: center;
}

.gnb>li>a {
    color: #333;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 30px 10px;
    text-decoration: none;
    position: relative;
    /* .gnb>li>a::before 기준 */
    transition: all 0.3s ease;
    margin-top: -14px;
}

.gnb>li:hover>a {
    transform: translateY(-3px);
    color: #344161;
}

.gnb>li>a::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #748DB5;
    /* 올라오는 밑줄색 */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
}

.gnb>li:hover>a::before {
    transform: scaleY(1);
}

.submenu li a {
    padding: 20px;
    display: inline-block;
    text-align: center;

    font-weight: 600;


}

.submenu {
    border: 1px solid #7d7d7d38;
    position: absolute;
    top: 100%;
    width: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity .30s ease, transform .30s ease, visibility .30s ease;
    visibility: hidden;
    background-color: #ffffffee;
}

.submenu li a:hover {
    color: #344161;
    /* background: url(../img/gnb2.png) no-repeat right 10px top 5px #fff; */
    font-weight: 700;
}

.gnb>li:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.on a{
    color: #344161 !important; 
} 
/* ★★★★ section 1 (소개) ★★★★ */

#section_1_wrap {
    box-sizing: border-box;
    height: 1250px;
    margin: 0px auto;
    margin-top: 190px;
}

.video_wrap {
    height: 600px;
    position: relative;
    /* video 기준 */
}

.video_wrap video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section_1 {
    width: 1320px;
    /* height: 1160px; */
    margin: 0px auto;
    position: relative;
}

/* section title */
.section_title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 100px;
}

.about_contents {
    margin-top: 60px;
    text-align: center;
}

.about_b {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about_s {
    font-size: 22px;
    line-height: 40px;
}

.first {
    margin-bottom: 50px;
}

/* ★★★★ section 2 (개최개요) ★★★★ */
.section_2 {
    position: relative;
    /* location_motion 기준 */
    width: 1320px;
    height: 1090px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 100px 0px 150px 0px;
}

.poster_text_box {
    display: flex;
    gap: 125px;
}

.poster_box {
    width: 510px;
    height: 700px;
    overflow: hidden;
}

.poster_box img {
    transition: all 0.4s;
}

.poster_box img:hover {
    transform: scale(1.06);
    transition: all 0.4s;
}

.text_box {
    padding-top: 40px;
}

.start {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 45px;
}


.text_box ul li {
    padding-top: 7px;
    margin-bottom: 19px;
    align-items: center;
    display: flex;

}

.start_stroke {
    display: inline-block;
    box-sizing: border-box;
    width: 86px;
    height: 36px;
    text-align: center;
    padding-top: 6px;
    font-weight: 700;
    border: 1px solid #333;
    border-radius: 25px;
    margin-right: 20px;

}

/* .start_stroke:hover {
    cursor: default;
} */

.location_motion {
    position: absolute;
    z-index: 8;
    right: 0;
    bottom: -60px;
}

/* AOS 작동 시 아이콘 2번 통통 튀는 커스텀 애니메이션*/
[data-aos="bounce-two"].aos-animate img {
    animation: bounceTwoTimes 1s ease-in-out forwards;
}

@keyframes bounceTwoTimes {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-35px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-18px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ★★★★  section 3 (오시는길) ★★★★  */
.section_3_wrap {
    height: 1100px;
    background-color: #E7E9ED;
    position: relative;
    z-index: 1;
    margin-bottom: -200px;
}

.section_3 {
    padding-top: 100px;
    box-sizing: border-box;
    position: relative;
    width: 1320px;
    height: 1100px;
    margin: 0px auto;

}


.location {
    display: flex;
    justify-content: space-between;
}

.location ul {
    padding-top: 30px;
}

.location ul li {
    margin-bottom: 60px;

}

.location ul li img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.location ul li p {
    margin-top: -40px;
    margin-left: 50px;
    font-size: 16px;
}

.blue {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #344161;
}

/* footer */

.footer-wrap {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    z-index: 8;
}

/* 
   wave design 
*/
.footer-wrap svg {
    display: block;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
}

.footer-body {
    flex: 1;
    background-color: #363E53;
}

/* wave animation */
.wave {
    animation: wave 4s linear infinite;
}

#wave2 {
    fill: #293145;
    animation-duration: 5s;
    animation-direction: reverse;
}

#wave1 {
    fill: #363E53;
    animation-duration: 3s;
}

@keyframes wave {
    to {
        transform: translateX(-120px);
    }
}

/* footer content */
.footer-content {
    box-sizing: border-box;
    padding-top: 70px;
    width: 1320px;
    margin: 0px auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer_name {
    font-weight: 600;
    font-size: 48px;
}

.footer_date {
    font-size: 38px;
}

.footer_copy {
    font-weight: 500;
    font-size: 15px;
    margin-top: 60px;
}

.footer_link {
    padding-top: 30px;
    padding-right: 50px;
}

.footer_link_list li {
    line-height: 40px;
}

.footer_link_list a {
    display: block;
    font-weight: 600;
}

.footer_link_list a:hover {
    color: #F7D6B2;
}

/* top button */
.top_button {
    box-sizing: border-box;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9;
    background-color: #F7D6B2;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    padding-top: 11px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #0000002c;
}

.top_button img {
    transition: transform 0.3s ease;
}

.top_button:hover img {
    transform: translateY(-5px);
}

.top_button:hover {
    background-color: #facd9d;
}

html {
    scroll-behavior: smooth;
}
